<!DOCTYPE html>
<html>
<head>
  <title>HandyHaversack</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="panel">
    <ul>
      <% if user_signed_in? %>
      <li><%= link_to 'Sign out', sign_out_path %></li>
      <% end %>
    </ul>
  </div>

<%= yield %>

</body>
</html>
